ansible==2.2.1.0
appdirs==1.4.0
cffi==1.9.1
cryptography==1.7.2
idna==2.2
Jinja2==2.11.3
MarkupSafe==0.23
packaging==16.8
paramiko==2.1.1
pyasn1==0.2.2
pycparser==2.17
pycrypto==2.6.1
pyparsing==2.1.10
PyYAML==3.12
six==1.10.0
