adium-theme-ubuntu==0.3.4
ansible==2.2.1.0
beautifulsoup4==4.5.1
cffi==1.9.1
chardet==2.3.0
Cheetah==2.4.4
configobj==5.0.6
cryptography==1.6
cycler==0.10.0
decorator==4.0.6
enum34==1.1.6
html5lib==0.999
idna==2.1
ipaddr==2.1.11
ipaddress==1.0.17
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
matplotlib==1.5.2rc2
ndg-httpsclient==0.4.2
networkx==1.11
numpy==1.11.1rc1
paramiko==2.0.2
Pillow==3.3.1
powerline-status==2.5
psutil==4.2.0
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
pygobject==3.22.0
PyMySQL==0.7.9
PyOpenGL==3.1.0
pyOpenSSL==16.1.0
pyparsing==2.1.8
python-dateutil==2.4.2
python-nmap==0.6.1
pytz==2014.10
PyYAML==3.12
pyzmq==15.2.0
requests==2.10.0
scipy==0.17.1
six==1.10.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.15.1
vboxapi==1.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
